#home h1{
    color: var(--primary);
    font-family: var(--Texte);
    font-weight: bolder;
}
#home h2{
    color: var(--primary);
    font-family: var(--Texte);
    font-weight: bolder;
}
#home .row img{
    width: 250px;
}
#home .img{
    width: 100%;
    border: 2px solid var(--primary);
    border-radius: 10px;
    padding: 10px;
}

#home img{
    width: 100%;
}
#home .row .center{
    text-align: center;
}
#home a{
    text-decoration: none;
}

.logo {
    display: block;
    margin: auto;
    max-width: 500px;
}